.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary);
  padding: 10px;
}
.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.sidebar-toggler img {
  width: 100%;
  max-width: 35px;
  height: auto;
  padding-left: 5px;
}
.content-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}
.main-content-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999 !important; 
  background-color: #fff; 
  padding: 10px 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.content-top-btn img {
  width: 24px;
}
.content-top-btn img {
  transition: transform 0.3s ease;
}

.content-top-btn img:hover {
  animation: pop 0.3s ease forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}
.content-top-left {
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 150px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: width 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.profile-img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  object-fit: cover; 
  transition: none; 
 margin-left: 10px;
}
.brand-logo:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 1024px) {
  .brand-logo {
    width: 120px; 
  }
}

@media screen and (max-width: 768px) {
  .brand-logo {
    width: 100px; 
  }
  .sidebar-toggler img {
    max-width: 25px;
    padding-left: 3px;
  }
}

@media screen and (max-width: 480px) {
  .brand-logo {
    width: 90px; 
  }
  .sidebar-toggler img {
    max-width: 20px;
    padding-left: 2px;
  }
}

