.main-content {
  background-color: var(--clr-secondary);
  flex: 1;
  padding: 0px;
}
.content {
  min-height: 83vh;
  padding-top: 60px; 
}

@media (max-width: 900px) {
  .content {
    padding-top: 0px; 
  }
}