@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Roboto:wght@100..900&display=swap');
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-container .form-container {
    display: flex;
    gap: 10px; 
    align-items: center;
    width: auto;
  }
  
  .header_shema {
    white-space: nowrap; 
  }
  
  .save-button {
    height: 40px; 
  }
  
  .add-user-button {
    white-space: nowrap;
    height: 40px; 
  }

.header_epeople {
    border-bottom: 2px solid transparent; 
    border-image: linear-gradient(to right, transparent, #999595, transparent) 1;
}
  .TableRow.table_header {
    padding: 10px 5px 10px 20px !important;
  }
 .button_search{
    height: 54px;
    bottom: 8px;
 }

 .search-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  
  .search-field {
    width: 100%;
  }
  
  .button-search {
    background-color: #1976d2; 
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .button-search:hover {
    background-color: #1565c0; 
  }
  .custom-label {
    top: -9px !important; 
    left: 5px;
    font-size: 14px;
  }
  