.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--clr-primary);
  padding: 36px 20px;
  transition: var(--transition-default);
  border-right: 1px solid white;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  
  /* Enable scrolling */
  display: flex;
  flex-direction: column;
}
.sidebar-change {
  transform: translateX(-260px);
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.info-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--clr-white);
  text-transform: uppercase;
}

.info-img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
  margin-top: 28px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  padding-right: 8px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.nav-item {
  margin-bottom: 10px;
  margin-right: 4px;
}
.navigation::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 44px;
  border-radius: 8px;
  padding: 3px 1px;
  column-gap: 12px;
  text-decoration: none;
  color: white;
  transition: var(--transition-default);
}
.nav-link:hover{
  color: chocolate !important;
}

.nav-link.active {
  background-color: var(--clr-pumpkin) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: burlywood;
}

.nav-link-icon {
  width: 22px;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.submenu li {
  padding: 8px 0;
}

.submenu-link {
  display: block;
  text-decoration: none;
  color: var(--clr-white);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

.submenu-link:hover {
  background-color: var(--clr-primary-light);
}


.submenu-link.active {
  background-color: var(--clr-pumpkin);
}

.submenu-toggle {
  margin-left: auto;
  font-size: 14px;
  color: white;
  transition: transform 0.3s ease-in-out;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.close-btn:hover {
  color: var(--clr-pumpkin);
}


.nav-link.active .submenu-toggle {
  transform: rotate(180deg);
}




