.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px !important;
}

.forgot-password-box {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.forgot-password-title {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    color: var(--clr-primary);
    margin-bottom: 1rem !important;
}

.forgot-password-text {
    margin-bottom: 1.5rem;
    color: #555;
}

.forgot-password-button {
    background-color: var(--clr-primary) !important;
    color: var(--clr-white) !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 10px !important;
    border-radius: 6px !important;
    margin-top: 1rem !important;
}

.login-link {
    margin-top: 1.5rem !important;
    cursor: pointer;
    text-decoration: underline;
    color: var(--clr-primary) !important;
}
